{% extends 'base.html' %}
{% block content %}
   

    <h1 class="mi-class">Sobre mi</h1>
    <p>Soy estudiante de la carrera de ingenieria en sistemas,vivo en Tuxpan Veracruz me gusta la tecnologia y por ende me gusta la programacion, me considero un novato pero tambien me gusta aprender :D</p>
    <p></p>
    <h1 class="mi-class">Mis Hobbies</h2>
    <p>Tengo varios hobbies pero en particular algunos son: .</p>
    <ul>
      <li>Tocar guitarra.</li>
      <li>Me gusta ir de viaje,conocer y convivir con la gente</li>
      <li>Me gusta aprender de cosas o tecnologias que a un no conozco</li>
      <li>Pasar tiempo con mi familia</li>
    </ul>
     

{% endblock content %}