body,
html {
  background: #f2f2f2;
}

pre,
.message {
  max-width: 960px;
}

li {margin: 10px}

.hero.is-primary {
  background-color: #fdb813;
  background-image: linear-gradient(315deg, #fdb813 0%, #788cb6 74%);
}

.box {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.box span.icon {
  float: right;
  font-size: 1.7em;
  padding: 2rem 2rem 0 0;
}

.is-large.fab {
  font-size: 7em;
}

.is-large.fas {
  font-size: 5em;
  margin-left: 0.2em;
}

.media-content {overflow: hidden;}

.menu-list li a:hover {
  background: #d9d9d9;
}

.token.number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}
.footer {background-color:#445c6e;}


.mi-class {
  font-size: 2em;
  position: relative;
  margin: 0 auto 1em;
  padding: 1em 1em .25em 1em;
  text-align: center;
  text-transform: uppercase;
}
.mi-class:after {
  position: absolute;
  top: 100%;
  left: 53%;
  width: 190px;
  height: 4px;
  margin-left: -120px;
  content: '';
  background-color: #383a3b;
}